$black: #000000;
$gray: #bebebe;
$placeholder: #757575;
$blue: #4E82F7;
$blue2: #0071bc;
$orange: #f8b551;
@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html {
    background: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
label,
li,
th,
td {
    font-family: '微軟正黑體' !important;
}

.font_20 {
    font-size: 20px;
}

button.font_20 {
    font-size: 20px;
}

.selected_text {
    color: $blue;
    a {
        color: $blue;
    }
}

.header_svg {
    margin-left: 5px;
}

.hashtag {
    color: $blue;
}

.dec_none,
.dec_none:hover {
    text-decoration: none;
}

.radius10 {
    border-radius: 10px;
}

.radius20 {
    border-radius: 20px;
}

button.radius20 {
    border-radius: 20px;
}

.round {
    border-radius: 100%;
}

.bg_gray {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(110, 110, 110, 0.5);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg_gray>.box {
    max-height: 75vh;
    overflow: hidden;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_top {
    vertical-align: top;
}

.weight600 {
    font-weight: 600;
}

.w-10 {
    width: 10%;
}

.w-90 {
    width: 90%;
}

.h-50v {
    height: 50vh;
}

.min_h_12em {
    min-height: 12rem;
}

.h-24em {
    height: 24rem;
    ;
}

.h-15em {
    height: 15rem;
}

.min_h_75 {
    min-height: 75%;
}

.min_h_100p {
    min-height: 100px;
}

.square_1em {
    width: 1em;
    height: 1em;
}

.mt-20 {
    margin: 20px 0 0;
}

.scrollY {
    overflow-y: auto;
}

.dash_line {
    border: none;
    border-bottom: 1px dashed;
}

.solid_line {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked+.slider {
            background-color: #2196F3;
        }
        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

// round-checkbox
.round_checkox {
    position: relative;
}

.round_checkox label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    left: 0;
    position: absolute;
    top: 0;
}

.round_checkox label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round_checkox input[type="checkbox"] {
    visibility: hidden;
}

.round_checkox input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round_checkox input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

%forTable {
    border: $gray solid 1px;
    border-collapse: collapse;
    th,
    td {
        border: $gray solid 1px;
        position: relative;
    }
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
    }
}

.pushTable_r {
    @extend %forTable;
}

.pushTable {
    @extend %forTable;
    table-layout: fixed;
}

.table-triangle-top {
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent $gray transparent transparent;
    top: 0;
    right: 0;
}

.table-triangle-down {
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent $gray transparent transparent;
    bottom: 0;
    right: 0;
}

.table_r {
    border-collapse: collapse;
    th,
    td {
        border-top: $gray solid 1px;
        border-bottom: $gray solid 1px;
    }
    input[type="checkbox"] {
        width: 2em;
        height: 2em;
        vertical-align: middle;
    }
}

.table_spec {
    th {
        border-top: $gray solid 1px;
        border-bottom: $gray solid 1px;
    }
}

.dash_table {
    .d-table-cell {
        padding: 10px 0;
    }
    .dash {
        border-bottom: 0.5px $gray dashed;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-item {
    flex: 0 1 48%;
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.card-item.card-transpareny {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed $gray;
}

.card-item-3 {
    flex: 0 1 30%;
    margin-top: 1em;
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    span {
        vertical-align: middle;
    }
}

.img_auto {
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.box_border {
    margin: 20px 0 0;
    padding: 15px;
    background-color: #fff;
    border: solid 1px $gray;
    word-break: break-all;
}

.border_gray {
    border: solid 1px $gray
}

.border_content {
    border: 3px solid;
    font-weight: 600;
}

.btn_like:hover {
    cursor: pointer;
    opacity: 0.8;
}

.activity_btn {
    height: 3em;
    width: 7em;
    margin: 1em;
    // &:last-child {
    //     border: solid 1px $gray;
    // }
}

.srollX {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ul {
        list-style: none;
        padding: 0;
        display: inline-flex;
        li {
            display: flex;
            align-items: center;
            min-height: 5em;
            width: 200px;
            margin: 0.5em 1em;
            padding: 20px;
            border: solid 1.5px $gray;
            border-radius: 10px;
            white-space: initial;
            text-align: center;
        }
    }
}

%btn-style {
    background: transparent;
    outline: none!important;
}

.btn_noborder_r {
    @extend %btn-style;
    border: none;
    &:hover {
        opacity: 0.8;
    }
}

.btn_noborder {
    @extend %btn-style;
    border: none;
    font-size: 2em;
    &:hover {
        opacity: 0.8;
    }
}

.btn_outline {
    @extend %btn-style;
    border: 2px solid $gray;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    &:hover {
        opacity: 0.8;
        color: $blue2;
        border: 2px solid $blue2;
    }
}

.btn-big {
    font-size: 20px;
    padding: 10px 70px;
    border: none;
}

.cancel_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.avg_center {
    margin: auto;
    display: block;
    font-size: 2em;
    color: $gray;
}

.vertify_col {
    width: 15px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 2px;
    text-align: center;
}

.circle_sign {
    display: inline-block;
    line-height: 80px;
    width: 90px;
    height: 90px;
    border: 2px solid #7d7d7d;
    border-radius: 100%;
    svg {
        font-size: 60px;
    }
}

.img_fluid1 {
    height: 100%;
    width: auto;
}

%input_reg {
    border-radius: 10px;
    width: 100%;
    padding: 7px;
    font-size: 18px;
    box-sizing: border-box;
}

.input_r {
    @extend %input_reg;
    border: 1px solid $gray;
}

.input_r:focus {
    outline: 0;
    border: 1px solid $orange;
}

.input_1 {
    @extend %input_reg;
    border: 2px solid $gray;
}

.input_1:focus {
    outline: 0;
    border: 2px solid $orange;
}

#start-time::before {
    content: '開始：  ';
    color: $placeholder;
}

#end-time::before {
    content: '結束：  ';
    color: $placeholder;
}

.add_li_content {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 50px;
        height: 50px;
        border: $blue2 2px solid;
        border-radius: 100%;
        line-height: 100%;
        color: $blue2;
    }
}