$black: #000000;
$gray: #bebebe;
$gray2: #A8A8A8;
$placeholder: #757575;
$blue: #4E82F7;
$blue2: #0071bc;
$orange: #f8b551;
@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html {
    background: #f3f3f3;
}

.p_relative {
    position: relative;
}

.opacity0 {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.opacity1 {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
label,
li,
th,
td {
    font-family: '微軟正黑體' !important;
    word-break: break-all;
}

.font_20 {
    font-size: 20px;
}

.font_30 {
    font-size: 30px;
}

button.font_20 {
    font-size: 20px;
}

.text_ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selected_text {
    color: $blue;
    a {
        color: $blue;
    }
}

.header_svg {
    margin-left: 5px;
}

.hashtag {
    color: $blue;
}

.no_outline{
    outline: none;
}

.dec_none,
.dec_none:hover {
    text-decoration: none;
}

.radius10 {
    border-radius: 10px;
}

.radius20 {
    border-radius: 20px;
}

button.radius20 {
    border-radius: 20px;
}

.round {
    border-radius: 100%;
}

.bg_gray1 {
    background: #DADADA;
}

.bg_gray {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(110, 110, 110, 0.5);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg_gray>.box {
    max-height: 75vh;
    overflow: hidden;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_top {
    vertical-align: top;
}

.vertical_base{
    vertical-align: baseline;
}

.weight600 {
    font-weight: 600;
}

.w-10 {
    width: 10%;
}

.w-45 {
    width: 45%;
}

.w-90 {
    width: 90%;
}

.h-65v {
    height: 65vh;
}

.min_h_12em {
    min-height: 12rem;
}

.h-24em {
    height: 24rem;
    ;
}

.h-15em {
    height: 15rem;
}

.min_h_75 {
    min-height: 75%;
}

.min_h_100p {
    min-height: 100px;
}

.square_1em {
    width: 1em;
    height: 1em;
}

.mt-20 {
    margin: 20px 0 0;
}

.scrollY {
    overflow-y: auto;
}

.dash_line {
    border: none;
    border-bottom: 1px dashed;
}

.solid_line {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.translateY {
    transform: translateY(-100%);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked+.slider {
            background-color: #2196F3;
        }
        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

// round-checkbox
.round_checkox {
    position: relative;
}

.round_checkox label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    left: 0;
    position: absolute;
    top: 0;
}

.round_checkox label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round_checkox input[type="checkbox"] {
    visibility: hidden;
}

.round_checkox input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round_checkox input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.table_checkbox {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

%forTable {
    border: $gray solid 1px;
    border-collapse: collapse;
    th,
    td {
        border: $gray solid 1px;
        position: relative;
    }
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
    }
}

.table_simple {
    tr:hover {
        td {
            background: #EDEDED;
            cursor: pointer;
        }
    }
    tr:nth-child(2) th {
        border-bottom: 1px solid $black;
    }
    tr {
        td:nth-child(2),
        td:nth-child(3) {
            width: 30%;
            input {
                width: 100%;
            }
        }
        &:not(:last-child) {
            td {
                border-bottom: 1px solid $gray;
            }
        }
    }
}

.pushTable_r {
    @extend %forTable;
}

.pushTable {
    @extend %forTable;
    table-layout: fixed;
}

.table_r {
    border-collapse: collapse;
    th,
    td {
        border-top: $gray solid 1px;
        border-bottom: $gray solid 1px;
    }
    input[type="checkbox"] {
        width: 2em;
        height: 2em;
        vertical-align: middle;
    }
}

.even {
    tr:nth-child(even) {
        background: #F2F2F2;
    }
}

.table_spec {
    th {
        border-top: $gray solid 1px;
        border-bottom: $gray solid 1px;
    }
}

.dash_table {
    .d-table-cell {
        padding: 10px 0;
    }
    .dash {
        border-bottom: 0.5px $gray dashed;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-item {
    flex: 0 1 48%;
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.card-item.card-transpareny {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed $gray;
}

.card-item-3 {
    flex: 0 1 30%;
    margin-top: 1em;
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    span {
        vertical-align: middle;
    }
}

.img_auto {
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.box_border {
    margin: 20px 0 0;
    padding: 15px;
    background-color: #fff;
    border: solid 1px $gray;
    word-break: break-all;
}

.border_gray {
    border: solid 1px $gray
}

.border_content {
    border: 3px solid;
    font-weight: 600;
}

.a_hover {
    color: #21A6BB;
    &:hover {
        @extend .btn_like;
    }
}

.btn_like:hover {
    cursor: pointer;
    opacity: 0.8;
}

.activity_btn {
    height: 3em;
    width: 7em;
    margin: 1em;
    // &:last-child {
    //     border: solid 1px $gray;
    // }
}

.srollX {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ul {
        list-style: none;
        padding: 0;
        display: inline-flex;
        li {
            align-items: center;
            border: solid 1.5px $gray;
            border-radius: 10px;
            display: flex;
            min-height: 5em;
            margin: 0.5em 1em;
            padding: 20px;
            position: relative;
            white-space: initial;
            text-align: center;
            width: 200px;
            .delete {
                position: absolute;
                top: 10px;
                right: 10px;
                opacity: 0.5;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        #focus {
            border: solid 1.5px $orange;
        }
    }
}

%btn-style {
    background: transparent;
    outline: none!important;
}

.btn_noborder_r {
    @extend %btn-style;
    border: none;
    &:hover {
        opacity: 0.8;
    }
}

.btn_noborder {
    @extend %btn-style;
    border: none;
    font-size: 2em;
    &:hover {
        opacity: 0.8;
    }
}

.btn_outline {
    @extend %btn-style;
    border: 2px solid $gray;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    &:hover {
        opacity: 0.8;
        color: $blue2;
        border: 2px solid $blue2;
    }
}

.btn-big {
    font-size: 20px;
    padding: 10px 70px;
    border: none;
}

.cancel_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.avg_center {
    margin: auto;
    display: block;
    font-size: 2em;
    color: $gray;
}

.vertify_col {
    width: 15px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 2px;
    text-align: center;
}

.circle_sign {
    display: inline-block;
    line-height: 80px;
    width: 90px;
    height: 90px;
    border: 2px solid #7d7d7d;
    border-radius: 100%;
    svg {
        font-size: 60px;
    }
}

.img_fluid1 {
    height: 100%;
    width: auto;
}

%input_reg {
    border-radius: 10px;
    width: 100%;
    padding: 7px;
    font-size: 18px;
    box-sizing: border-box;
}

.input_r {
    @extend %input_reg;
    border: 1px solid $gray;
}

.input_r:focus {
    outline: 0;
    border: 1px solid $orange;
}

.input_1 {
    @extend %input_reg;
    border: 2px solid $gray;
}

.input_1:focus {
    outline: 0;
    border: 2px solid $orange;
}

#start-time::before {
    content: '開始：  ';
    color: $placeholder;
}

#end-time::before {
    content: '結束：  ';
    color: $placeholder;
}

.add_li_content {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 50px;
        height: 50px;
        border: $blue2 2px solid;
        border-radius: 100%;
        line-height: 100%;
        color: $blue2;
    }
}

.iframe_border {
    width: 500px;
    height: 500px;
    overflow: auto;
    margin: 20px auto;
    border: 1px solid $gray;
}

.person_btn {
    position: relative;
    &:hover {
        .person_sign {
            border-left: $black 1px solid;
            border-right: $black 1px solid;
            border-bottom: $black 1px solid;
            max-height: 300px;
            overflow: visible;
            padding-top: 10px;
            padding-bottom: 10px;
            z-index: 2;
            &::before {
                content: '\25B2';
                color: #FFFFFF;
                font-size: 25px;
                position: absolute;
                top: -25px;
                left: 60px;
                margin: auto;
            }
            li,
            a {
                &:hover:not(#name) {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
    .person_sign {
        background: #FFFFFF;
        box-sizing: border-box;
        color: $black;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transform: translate(-55px, 20px);
        transition: all .2s ease;
        width: 150px;
        small {
            border-bottom: 1px solid $gray;
            color: $gray;
            display: block;
            margin: 0px 10px;
            padding: 5px 0;
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 10px 15px 0;
            margin-bottom: 0;
            li,
            a {
                padding: 5px;
                color: $black;
                text-align: center;
                &:not(:last-child) {
                    border-bottom: 0.5px solid $gray2;
                }
                &#focus {
                    font-weight: 600;
                }
            }
        }
    }
}

.warning_icon {
    border-radius: 10px;
    background-color: yellow;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px;
    @extend .btn_like;
}

%small_alert {
    position: relative;
    margin: 0;
    padding: 0;
    height: 0;
    transition: all .3s ease;
    .content {
        border-radius: 10px;
        left: 0;
        margin: 0 auto;
        max-width: 30%;
        position: absolute;
        padding: 5px;
        right: 0;
        top: 20px;
        text-align: center;
        &::before {
            content: '\25B2';
            font-size: 25px;
            position: absolute;
            top: -25px;
            left: 47.5%;
            ;
        }
    }
}

.small_alert_danger {
    @extend %small_alert;
    .content {
        background-color: #F8D7DA;
        &::before {
            color: #F8D7DA;
        }
    }
}

.small_alert_success {
    @extend %small_alert;
    .content {
        background-color: #D4EDDA;
        &::before {
            color: #D4EDDA;
        }
    }
}

.alertMsg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .content {
        @extend .radius10;
        border: 1px solid $gray2;
        background: #FFFFFF;
        display: table-cell;
        font-weight: 600;
        text-align: center;
        min-height: 100px;
        padding: 7px 10px 40px;
        width: 300px;
        word-break: break-all;
        .close_btn {
            @extend .btn_like;
            border-radius: 100%;
            border: none;
            color: #FFFFFF;
            background: #F45D5D;
            outline: none;
        }
        p {
            display: inline-block;
            margin: 0;
            text-align: left;
        }
    }
}